ordinal-encoding

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
28   48    Male     Poor    School        No
38   45  Female     Good    School        No
24   16  Female  Average        PG       Yes
26   53  Female     Poor        PG        No
48   39  Female     Good        UG       Yes

In [4]:
df = df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [13]:
X = df[['review','education']]
y = df['education']

In [14]:


from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1)

In [15]:
from sklearn.preprocessing import OrdinalEncoder

In [16]:

X_train

     review education
5   Average    School
41     Good        PG
28     Poor    School
48     Good        UG
15     Poor        UG
45     Poor        PG
42     Good        PG
39     Poor        PG
36     Good        UG
22     Poor        PG
27     Poor        PG
46     Poor        PG
6      Good    School
44  Average        UG
18     Good    School
23     Good    School
47     Good        PG
17     Poor        UG
10     Good        UG
30  Average        UG
32  Average        UG
8   Average        UG
38     Good    School
0   Average    School
29  Average        UG
21  Average        PG
9      Good        UG
25     Good    School
31     Poor    School
20  Average    School
33     Good        PG
12     Poor    School
24  Average        PG
2      Good        PG
3      Good        PG
35     Poor    School
16     Poor        UG
19     Poor        PG
13  Average    School
43     Poor        PG
7      Poor    School
34  Average    School
26     Poor        PG
11     Good        UG
37  Average        PG

In [17]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [18]:

oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [19]:

X_train = oe.transform(X_train)

In [20]:

X_train

array([[1., 0.],
       [2., 2.],
       [0., 0.],
       [2., 1.],
       [0., 1.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [0., 2.],
       [2., 0.],
       [1., 1.],
       [2., 0.],
       [2., 0.],
       [2., 2.],
       [0., 1.],
       [2., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [2., 0.],
       [1., 0.],
       [1., 1.],
       [1., 2.],
       [2., 1.],
       [2., 0.],
       [0., 0.],
       [1., 0.],
       [2., 2.],
       [0., 0.],
       [1., 2.],
       [2., 2.],
       [2., 2.],
       [0., 0.],
       [0., 1.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [1., 0.],
       [0., 2.],
       [2., 1.],
       [1., 2.]])

In [21]:

oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [22]:

X_train

array([[1., 0.],
       [2., 2.],
       [0., 0.],
       [2., 1.],
       [0., 1.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [0., 2.],
       [2., 0.],
       [1., 1.],
       [2., 0.],
       [2., 0.],
       [2., 2.],
       [0., 1.],
       [2., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [2., 0.],
       [1., 0.],
       [1., 1.],
       [1., 2.],
       [2., 1.],
       [2., 0.],
       [0., 0.],
       [1., 0.],
       [2., 2.],
       [0., 0.],
       [1., 2.],
       [2., 2.],
       [2., 2.],
       [0., 0.],
       [0., 1.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [1., 0.],
       [0., 2.],
       [2., 1.],
       [1., 2.]])

 LabelEncoder

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le = LabelEncoder()

In [25]:

le.fit(y_train)

LabelEncoder()

In [26]:

le.classes_

array(['PG', 'School', 'UG'], dtype=object)

In [27]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [28]:

y_train

array([1, 0, 1, 2, 2, 0, 0, 0, 2, 0, 0, 0, 1, 2, 1, 1, 0, 2, 2, 2, 2, 2,
       1, 1, 2, 0, 2, 1, 1, 1, 0, 1, 0, 0, 0, 1, 2, 0, 1, 0, 1, 1, 0, 2,
       0])

ONE HOT ENCODING

In [1]:

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('cars.csv')

In [3]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [4]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

1. OneHotEncoding using Pandas

In [5]:
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False


2. K-1 OneHotEncoding

In [6]:

pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False


3. OneHotEncoding using Sklearn

In [7]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=2)

In [8]:
X_train.head()

         brand  km_driven    fuel         owner
5571   Hyundai      35000  Diesel   First Owner
2038      Jeep      60000  Diesel   First Owner
2957   Hyundai      25000  Petrol   First Owner
7618  Mahindra     130000  Diesel  Second Owner
6684   Hyundai     155000  Diesel   First Owner

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
ohe = OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [20]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']])

In [21]:
X_test_new = ohe.transform(X_test[['fuel','owner']])

In [22]:
X_train_new.shape

(6502, 7)

In [23]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new))

array([['Hyundai', 35000, 1, ..., 0, 0, 0],
       ['Jeep', 60000, 1, ..., 0, 0, 0],
       ['Hyundai', 25000, 0, ..., 0, 0, 0],
       ...,
       ['Tata', 15000, 0, ..., 0, 0, 0],
       ['Maruti', 32500, 1, ..., 1, 0, 0],
       ['Isuzu', 121000, 1, ..., 0, 0, 0]], dtype=object)

 4. ONE HOT ENCODING

In [24]:
counts = df['brand'].value_counts()

In [25]:
df['brand'].nunique()
threshold = 100

In [26]:
repl = counts[counts <= threshold].index

In [27]:
pd.get_dummies(df['brand'].replace(repl, 'uncommon')).sample(5)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
4343,False,False,False,False,False,True,False,False,False,False,False,False,False
5673,False,False,False,False,False,False,False,False,False,False,True,False,False
3149,False,False,False,False,False,False,False,False,False,True,False,False,False
5334,False,False,False,False,False,True,False,False,False,False,False,False,False
970,False,False,False,False,False,False,False,False,False,False,True,False,False

In [28]:
import numpy as np
import pandas as pd

In [29]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [30]:
df = pd.read_csv('covid_toy.csv')

In [31]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [32]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [34]:
X_train

    age  gender  fever   cough       city
40   49  Female  102.0    Mild      Delhi
33   26  Female   98.0    Mild    Kolkata
62   56  Female  104.0  Strong  Bangalore
79   48  Female  103.0    Mild    Kolkata
11   65  Female   98.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
4    65  Female  101.0    Mild     Mumbai
19   42  Female    NaN  Strong  Bangalore
98    5  Female   98.0  Strong     Mumbai
45   72    Male   99.0    Mild  Bangalore
63   10    Male  100.0    Mild  Bangalore

[80 rows x 5 columns]


1. Aam Zindagi

In [35]:

# adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])
                                 
X_train_fever.shape

(80, 1)

In [36]:

# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [38]:

# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [39]:

# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [40]:

X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)


Mentos Zindagi

In [41]:

from sklearn.compose import ColumnTransformer

In [43]:

transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [44]:
transformer.fit_transform(X_train).shape

(80, 7)

In [45]:

transformer.transform(X_test).shape

(20, 7)